@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Lexend+Exa:wght@600&family=Oswald:wght@500&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@600&family=Oswald:wght@500&family=Patrick+Hand&family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@600&family=Lexend+Exa:wght@600&family=Oswald:wght@500&family=Patrick+Hand&family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;600&family=Lexend+Exa:wght@600&family=Oswald:wght@500&family=Patrick+Hand&family=Qwigley&display=swap");
:root {
    --maincolor: #191f3a;
    --sub-color: #eaa023;
    --text-color: #ffffff;
    --bg-color:#070d29;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
p {
  font-weight: 300;
  color: #111;
}
body {
  min-height: 1000px;
}
.btn {
  background-color: transparent;
  padding: 15px 30px;
  border: 2px solid orange;
  border-radius: 50px;
  color: orange;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(92, 78, 78);
}
.big-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.big-image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(image/11.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
  animation: Inout 5s infinite;
}
@keyframes Inout {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.big-image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -2;
}
.big-image .big-image-content {
  text-align: center;
  max-width: 1500px;
}
.big-image .big-image-content h2 {
  font-size: 40px;
  color: #dbdbdb;
  font-family: "Bungee Inline", cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.big-image .big-image-content p {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  margin: 15px 0;
  font-family: "Oswald", sans-serif;
  font-family: "Patrick Hand", cursive;
}
/*.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url(image/11.jpg);
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 2.5em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
  margin-top: 15px;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo img {
  width: 50px;
}
header .logo {
  width: 25px;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
/*header .sticky .logo {
  color: #111;
}
header .logo span {
  color: #ff0157;
}*/
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header.sticky .navigation li a {
  color:var(--bg-color);
}
header .navigation li a:hover {
  color: #ff0157;
}
.about{
    background-color:var(--maincolor) ;
}
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: var(--text-color);
    font-size: 30px;
    font-family: 'Hepta Slab', serif;
}
.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 2em;
}
.col50 h2{
    font-size: 50px;
    color: var(--text-color);
    text-transform: uppercase;
}
.col50 h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 70px;
    font-family: 'Qwigley', cursive;
}
.about .col50 h2{
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Hepta Slab', serif;
}
.about .col50 p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--text-color);
    font-family: 'Hepta Slab', serif;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 350px;
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu .title h2{
    color: var(--bg-color);
      font-size: 30px;
      font-family: 'Hepta Slab', serif;
  }
  .title h2{
    font-size: 50px;
    color: var(--text-color);
    text-transform: uppercase;
}
.title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 70px;
    font-family: 'Qwigley', cursive;
}
.menu .title h2{
    color: var(black);
    font-size: 30px;
    font-family: 'Hepta Slab', serif;
    text-align: center;
}
.menu .title p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--bg-color);
    font-family: "Oswald", sans-serif;
}
.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text {
  padding: 15px;
}
.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}
.expert{
    background-color:var(--maincolor) ;
}
.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.title h2{
    font-size: 50px;
    color: var(--text-color);
    text-transform: uppercase;
}
.title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 70px;
    font-family: 'Qwigley', cursive;
}
.expert .title h2{
    color: var(--text-color);
    font-size: 32px;
    font-family: 'Hepta Slab', serif;
}
.expert .title p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--text-color);
    font-family: 'Hepta Slab', serif;

}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .box .text {
  padding: 20px 0 5px;
  font-size: 14px;
}
.expert .content .box .text h3 {
  font-weight: 400;
  color: var(--text-color);
}
.testimonials {
  background: url(image/bg2.jpg);
  background-size: cover;
}
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.title h2{
    font-size: 50px;
    color: var(--text-color);
    text-transform: uppercase;
}
.title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--sub-color);
    font-size: 70px;
    font-family: 'Qwigley', cursive;
}
.testimonials .title h2{
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Hepta Slab', serif;
}
.testimonials .title p{
    font-size: 18px;
    margin: 15px 0 30px;
    color: var(--text-color);
    font-family: 'Hepta Slab', serif;

}
.white .titleText,
.white p {
  color: #fff;
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .content .box .imgBx {
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}
.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}
.contact {
  background: url(image/fooer.jpg);
  background-size: cover;
}
.footer-copyright {
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
  /* text-align: center;
    padding: 50px 0 12px;
    color: black;
    border-top: 2px solid var(--bg-color);
    font-family: "Oswald", sans-serif;
    margin-top: 20px; */
}
/*.footer{

    padding-top: 30px;
    position: relative;
}
.footer-bg{
    background: url(image/fooer.jpg);
    background-size: cover;
}
.footer::before{
    position: absolute;
    content: "";
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.4;
    z-index: -1;
}
.footer-item{
    text-align: center;
    width: calc(100%/2);
}
.footer-item i{
    color: var(--bg-color);
    font-size: 25px;
    margin-right: 12px;
    cursor: pointer;
    transition: var(--bg-color);
}
.footer-item i:hover{
    color: var(--sub-color);
}
.footer h2{
    color: #000000;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}
.footer p{
    color: var(--bg-color);
    font-family: "Oswald", sans-serif;
    margin: 12px 0;
}
.footer-copyright{
    text-align: center;
    padding: 50px 0 12px;
    color: black;
    border-top: 2px solid var(--bg-color);
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
}*/

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0;
  }
  header .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(image/mo1.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url(image/dong1.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle {
    filter: invert(1);
  }
  section {
    padding: 20px;
  }
  .big-image .big-image-content h2 {
    font-size: 25px;
  }
  .big-image .big-image-content p {
    font-size: 23px;
  }
  /*.banner {
    min-height: 66vh;
  }
  .banner .content h2 {
    font-size: 2em;
    color: #fff;
  }*/
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .titleText {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: center;
  }
  .testimonials .content .box {
    margin: 10px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .big-image .big-image-content h2 {
    font-size: 20px;
  }
  .big-image .big-image-content p {
    font-size: 19px;
  }
}
